<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.tanyp.dao.HelloMapper">

    <insert id="create" parameterType="me.tanyp.entity.Hello">
        INSERT INTO t_hello
            (id_,created_,createdMillisecond_)
        VALUES
            (#{id},#{created},#{createdMillisecond})
    </insert>

    <select id="list" parameterType="" resultMap="">
        SELECT * FROM t_hello
    </select>

</mapper>