<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.tanyp.dao.UserMapper">
    <resultMap id="User" type="com.tanyouping.weixiao.domain.User">
        <id column="id_" property="id"/>
        <result column="created_" property="created"/>
        <result column="createdMillisecond_" property="createdMillisecond"/>
        <result column="name_" property="name"/>
        <result column="email_" property="email"/>
        <result column="mobile_" property="mobile"/>
        <result column="sex_" property="sex"/>
        <result column="birthday_" property="birthday"/>
        <result column="profile_" property="profile"/>
        <result column="head_portrait" property="headPortrait"/>
        <result column="salt_" property="salt"/>
        <result column="pwd_" property="pwd"/>
        <result column="status_" property="status"/>
        <result column="illegal_" property="illegal"/>
    </resultMap>

    <insert id="create" parameterType="me.tanyp.entity.User">
        INSERT INTO i_user
            (id_,created_,createdMillisecond_,name_,pwd_,salt_,mobile_,sex_,birthday_,email_,profile_,illegal_,status_,head_portrait)
        VALUES
            (#{id},#{created},#{createdMillisecond},#{name},#{pwd},#{salt},#{mobile},#{sex},#{birthday},#{email},#{profile},#{illegal},#{status},#{headPortrait})
    </insert>

    <insert id="saveLoginRecord" parameterType="me.tanyp.entity.LoginRecord">
        INSERT INTO i_login_record
            (id_,created_,createdMillisecond_,browser_,login_ip,user_id)
        VALUES
            (#{id},#{created},#{createdMillisecond},#{browser},#{loginIP},#{userId})
    </insert>

    <select id="getEmail" parameterType="java.lang.String" resultMap="User">
        SELECT
          i
        FROM
          i_user i
        WHERE email_ = #{value}
    </select>


</mapper>