<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">


    <!--<bean id="audience" class="com.tanyouping.weixiao.util.Audience"/>-->

    <!--<aop:config>-->
        <!--<aop:aspect ref="audience">-->
            <!--<aop:before pointcut="execution(* com.tanyouping.weixiao.service..local..*.*(..))" method="takeSeats"/>-->
            <!--<aop:before pointcut="execution(* com.tanyouping.weixiao.service..local..*.*(..))" method="turnoffCellPhones"/>-->
            <!--<aop:after-throwing pointcut="execution(* com.tanyouping.weixiao.service..local..*.*(..))" method="applaud"/>-->
            <!--<aop:after-returning pointcut="execution(* com.tanyouping.weixiao.service..local..*.*(..))" method="demandRefund"/>-->
        <!--</aop:aspect>-->
    <!--</aop:config>-->

</beans>