<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 缓存管理器 start -->
    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxTotal" value="200"></property>
        <property name="maxIdle" value="50"></property>
        <property name="minIdle" value="10"></property>
        <property name="maxWaitMillis" value="15000"></property>
        <property name="lifo" value="true"></property>
        <property name="blockWhenExhausted" value="true"></property>
        <property name="testOnBorrow" value="false"></property>
        <property name="testOnReturn" value="false"></property>
        <property name="testWhileIdle" value="false"></property>
        <property name="timeBetweenEvictionRunsMillis" value="30000"></property>
    </bean>
    <bean id="redisManager" class="com.tanyouping.weixiao.redis.RedisManager">
        <property name="host" value="${profile.redis.server.host}"></property>
        <property name="port" value="${profile.redis.server.port}"></property>
        <!--<property name="password" value="${profile.redis.server.password}"></property>-->
        <property name="jedisPoolConfig" ref="jedisPoolConfig"></property>
    </bean>

    <bean class="com.tanyouping.weixiao.security.UserManager">
        <property name="redisHost" value="${profile.redis.server.host}" />
        <property name="redisPort" value="${profile.redis.server.port}" />
        <!--<property name="redisPassword" value="${profile.redis.server.password}" />-->
    </bean>



</beans>