<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tanyouping.weixiao.dao.MoodMapper">

    <resultMap id="Mood" type="com.tanyouping.weixiao.domain.Mood">
        <id column="id_" property="id"/>
        <result column="created_" property="created"/>
        <result column="createdMillisecond_" property="createdMillisecond"/>
        <result column="name_" property="name"/>
        <result column="user_id" property="userId"/>
        <result column="text_" property="text"/>
        <result column="tags_" property="tags"/>
        <result column="likes_" property="likes"/>
        <result column="hates_" property="hates"/>
        <result column="reads_" property="reads"/>
        <result column="classify_" property="classify"/>
        <result column="status_" property="status"/>
        <collection property="comments" ofType="com.tanyouping.weixiao.domain.Comment">
            <id column="commentsId" property="id"/>
            <result column="commentsLikes" property="likes"/>
            <result column="commentsHates" property="hates"/>
            <result column="commentsName" property="name"/>
            <result column="commentsUserId" property="userId"/>
            <result column="commentsText" property="text"/>
        </collection>
    </resultMap>

    <select id="listMood" parameterType="com.tanyouping.weixiao.param.QueryParam" resultMap="Mood">

        SELECT * FROM t_mood  ORDER BY created_ DESC  limit #{start},#{limit}

    </select>

    <insert id="create" parameterType="com.tanyouping.weixiao.domain.Mood">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO t_mood
        (created_,createdMillisecond_,name_,user_id,text_,tags_,likes_,hates_,reads_,status_,classify_)
        VALUE
        (#{created},#{createdMillisecond},#{name},#{userId},#{text},#{tags},#{likes},#{hates},#{reads},#{status},#{classify})
    </insert>

    <insert id="createMoodRS" parameterType="com.tanyouping.weixiao.domain.MoodRS">

        INSERT INTO t_mood_rs
        (created_,createdMillisecond_,name_,user_id,mood_id)
        VALUE
        (#{created},#{createdMillisecond},#{name},#{userId},#{moodId})

    </insert>

    <insert id="saveComment" parameterType="com.tanyouping.weixiao.domain.Comment">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO t_comment
        (created_,createdMillisecond_,mood_id,likes_,hates_,name_,user_id,text_)
        VALUE
        (#{created},#{createdMillisecond},#{moodId},#{likes},#{hates},#{name},#{userId},#{text})
    </insert>

    <delete id="delete" parameterType="java.lang.Integer">
        DELETE FROM t_mood WHERE id_ = #{id}
    </delete>



</mapper>