<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tanyouping.weixiao.dao.UserMapper">

    <resultMap id="User" type="com.tanyouping.weixiao.domain.User">
        <id column="id_" property="id"/>
        <result column="created_" property="created"/>
        <result column="createdMillisecond_" property="createdMillisecond"/>
        <result column="name_" property="name"/>
        <result column="mobile_" property="mobile"/>
        <result column="email_" property="email"/>
        <result column="sex_" property="sex"/>
        <result column="birthday_" property="birthday"/>
        <result column="salt_" property="salt"/>
        <result column="pwd_" property="pwd"/>
        <result column="status_" property="status"/>
        <result column="illegal_" property="illegal"/>
        <result column="remark_" property="remark"/>
        <collection property="loginRecords" ofType="com.tanyouping.weixiao.domain.LoginRecord">
            <id column="recordId" property="id"/>
            <result column="created_" property="created"/>
            <result column="createdMillisecond_" property="createdMillisecond"/>
            <result column="login_ip" property="loginIP"/>
            <result column="user_id" property="userId"/>
        </collection>
    </resultMap>

    <select id="list" parameterType="com.tanyouping.weixiao.param.UserQueryParam" resultMap="User">
        SELECT * FROM t_user
        <where>
            <if test="name != NULL and name != ''">
                AND name_ LIKE concat('%',#{name},'%')
            </if>
            <choose>
                <when test="startCreated != NULL and endCreated != null">AND created_ BETWEEN #{startCreated} AND
                    #{endCreated}
                </when>
                <when test="startCreated != NULL">AND created_ gt #{startCreated}</when>
                <when test="endCreated != NULL">AND created_ lt #{endCreated}</when>
                <otherwise>AND 1 = 1</otherwise>
            </choose>
            ORDER BY created_ DESC
        </where>
    </select>

    <update id="update" parameterType="com.tanyouping.weixiao.domain.User">
        UPDATE t_user
        <set>
            name_ = #{name},
            mobile_ = #{mobile},
            email_ = #{email},
            sex_ = #{sex},
            birthday_ = #{birthday},
            remark_ = #{remark}
        </set>
        <where>
            id_ = #{id}
        </where>
    </update>

    <select id="getMobile" parameterType="java.lang.String" resultMap="User">
        SELECT * FROM t_user WHERE mobile_ = #{mobile}
    </select>

    <select id="get" parameterType="java.lang.String" resultMap="User">
        SELECT
          *
        FROM
          t_user
        WHERE mobile_ = #{value} OR email_ = #{value} OR name_ = #{value}
    </select>

    <select id="getLoginRecord" parameterType="java.lang.Integer" resultMap="User">
        SELECT
          user.*,
          loginRecord.id_ recordId,
          loginRecord.created_,
          loginRecord.createdMillisecond_,
          loginRecord.login_ip,
          loginRecord.user_id
        FROM
          t_user user,
          t_login_record loginRecord
        WHERE
          user.id_ = loginRecord.user_id
          AND
          user.id_ = #{userId}
    </select>

    <insert id="create" parameterType="com.tanyouping.weixiao.domain.User">

        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO t_user
        (name_,salt_,pwd_,mobile_,email_,sex_,birthday_,status_,illegal_,created_,createdMillisecond_,remark_)
        VALUE
        (#{name},#{salt},#{pwd},#{mobile},#{email},#{sex},#{birthday},#{status},#{illegal},#{created},#{createdMillisecond},#{remark})

    </insert>

    <delete id="delete" parameterType="java.lang.Integer">
        DELETE FROM t_user WHERE id_ = #{id}
    </delete>

    <resultMap id="LoginRecord" type="com.tanyouping.weixiao.domain.LoginRecord">
        <id column="id" property="id"/>
        <result column="created_" property="created"/>
        <result column="createdMillisecond_" property="createdMillisecond"/>
        <result column="user_id" property="userId"/>
        <result column="login_ip" property="loginIP"/>
    </resultMap>

    <insert id="saveLoginRecord" parameterType="com.tanyouping.weixiao.domain.LoginRecord">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO t_login_record
        (created_,createdMillisecond_,user_id,login_ip)
        VALUE
        (#{created},#{createdMillisecond},#{userId},#{loginIP})
    </insert>

</mapper>